export(NrParts)
export(P)
export(bottom_up)
export(conjugate)
export(divide_and_conquer)
export(get_multiplicity)
export(get_rand_int)
export(last)
export(multiplicity)
export(rand_partitions)
export(top_down)
useDynLib('rpartitions')
